<!DOCTYPE html>
<html lang="fr">
<head>
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="7c070748-120a-4e15-981f-737aa466dbbe";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  <meta name="google-site-verification" content="q2tX3K62i0Ap6OIEvGfNiUL6eov7dwc_ijfmio6ksZg" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Ouieqare offre des conseils gratuits en audiologie et aide à s'équiper d'appareils auditifs sur mesure. Découvrez nos services pour améliorer votre audition confortablement. Contactez nous pour effectuer un bilan auditif gratuit.">
  <meta name="keywords" content="Ouieqare, audiologie, appareils auditifs, appareils auditifs gratuits, bilan auditif gratuit, aides auditives sur mesure, conseils audiologie gratuite">

  <meta name="author" content="Ouieqare.com">
  <meta name="google-adsense-account" content="ca-pub-9198491242632785">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9198491242632785"
     crossorigin="anonymous"></script>
  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  
  <!-- theme meta -->
  <meta name="theme-name" content="Ouieqare" />

  <title>Vos appareils auditifs gratuits et sur mesure - Ouieqare</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../images/logo-w.png" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bulma/bulma.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="plugins/fontawesome/css/all.css">
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="plugins/modal-video/modal-video.css">
    <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
