
.search-container {
  max-width: 300px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px; /* Ajoutez cette ligne pour créer plus d'espace après la barre de recherche */
}


.input-field {
  padding: 10px;
  border: 2px solid $primary-color; /* Assurez-vous que la variable $primary-color est définie ou remplacée par une couleur hexadécimale. */
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  padding: 10px 20px;
  background-color: $primary-color; /* Assurez-vous que la variable $primary-color est définie ou remplacée par une couleur hexadécimale. */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  &:hover {
      background-color: darken($primary-color, 10%);
  }
}


// Styles des résultats
.results {
    margin-top: 20px;
}

.people-nearby .google-maps{
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .people-nearby .google-maps .map{
    height: 300px;
    width: 100%;
    border: none;
  }
  
  .people-nearby .nearby-user{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }
  
  img.profile-photo-lg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .btn-primary{
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .card {
    display: flex;
    align-items: stretch; /* Assurez-vous que les éléments s'étirent pour remplir la hauteur */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-content {
    flex: 1; /* Prend la majorité de l'espace */
    padding: 10px;
}

.card-body {
    padding: 10px;
}

.card-image {
    flex: 0 0 150px; /* Largeur plus large pour l'image */
    background: #f0f0f0; /* Couleur de fond si l'image ne couvre pas tout */
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-primary {
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #068572;
}
