<section class="section process">
	<div class="container">
		<div class="columns is-multiline is-desktop is-align-items-center">
			<div class="column is-5-desktop">
				<div class="process-block pl-4">
					<span class="is-uppercase text-sm letter-spacing">Pourquoi nous choisir ?</span>
					<h2 class="mb-4 mt-3">Profitez des appareils auditifs de pointe sans reste à charge !</h2>
					<p class="mb-4">Examen auditif offert. Essai gratuit de 30 jours. Plus de 250 centres affiliés.</p>
				</div>
			</div>

			<div class="column is-7-desktop">
				<div class="columns is-multiline custom-grid">
					<div class="column is-6-widescreen is-6-tablet">
						<div class="icon-block has-text-centered">
							<i class="ti-headphone-alt"></i>
							<h5>Bilan auditif gratuit</h5>
							<p>Bénéficiez d'un examen auditif sans frais, réalisé en centre ou à votre domicile par des audioprothésistes certifiés.</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pb-0">
						<div class="icon-block has-text-centered mt-30">
							<i class="ti-money"></i>
							<h5>0€ de reste à charge</h5>
							<p>Profitez d'appareils auditifs de dernière génération personnalisés et sans reste à charge grâce au dispositif 100% santé.</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pt-0">
						<div class="icon-block has-text-centered">
							<i class="ti-user"></i>
							<h5>+250 centres partenaires</h5>
							<p>Assurez-vous un rendez-vous prioritaire au meilleur centre auditif à proximité de votre domicile.</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pt-0">
						<div class="icon-block has-text-centered mt-30">
							<i class="ti-calendar"></i>
							<h5>Essai gratuit de 30 jours sans engagement</h5>
							<p>Profitez de cette période pour faire un choix avisé en toute sérénité et vous assurer que l'appareil auditif sélectionné répond parfaitement à vos besoins.</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>