<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Annuaire Des Centres - Ouieqare</title>
    <meta name="description" content="Trouvez un centre d'audiologie certifié près de chez vous à l'aide de notre annuaire complet Ouieqare. Consultations et équipements auditifs disponibles.">
    <meta name="keywords" content="annuaire audiologie, annuaire audition, annuaire ouieqare, annuaire centres auditifs, consultation auditive, équipement auditif, audioprothésistes certifiés">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMlJYRouu0WmSpLglvFn_WJGPWiWp0Yo0&libraries=places&callback=initAutocomplete" async defer></script>
    <script>
     document.addEventListener('DOMContentLoaded', function() {
         fetch('/api/googleMapsKey')
             .then(response => response.json())
             .then(data => {
                 let script = document.createElement('script');
                 script.src = `https://maps.googleapis.com/maps/api/js?key=${data.key}&libraries=places&callback=initAutocomplete`;
                 script.async = true;
                 script.defer = true;
                 document.head.appendChild(script);
             })
             .catch(error => console.error('Error loading the Google Maps script:', error));
     });

    function initAutocomplete() {
        var input = document.getElementById('searchInput');
        var options = {
            types: ['(regions)'],
            componentRestrictions: {country: 'FR'}
        };
        var autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                console.log("No details available for input: '" + place.name + "'");
                return;
            }
            var addressComponents = place.address_components;
            var postalCode = addressComponents.find(comp => comp.types.includes("postal_code"))?.short_name || '';
            var city = addressComponents.find(comp => comp.types.includes("locality"))?.short_name || '';
            var query = postalCode ? postalCode : city;
            document.getElementById('searchInput').value = query;
            initiateSearch(query);
        });
    }

    function initiateSearch(query) {
        let url = new URL(`${window.location.origin}/api/centres`);
        url.searchParams.append('query', query);
        fetch(url)
            .then(response => {
                if (!response.ok) throw new Error('Network response was not OK');
                return response.json();
            })
            .then(data => {
                const resultsContainer = document.getElementById("results");
                resultsContainer.innerHTML = "";
                if (data.length > 0) {
                    data.forEach(item => {
                        const userDiv = document.createElement("div");
                        userDiv.className = "card";
                        userDiv.innerHTML = `
                            <div class="card-content">
                                <div class="card-body">
                                    <h5>
    <a href="project-details.html?name=${encodeURIComponent(item.Account_Name.replace(/\s+/g, ''))}&id=${item.id}" target="_blank">${item.Account_Name}</a>
</h5>
<p><i class="fas fa-map-marker-alt"></i> ${item.Rue}, ${item.Code_postal} ${item.Ville}</p>
                                    <p><i class="fas fa-phone"></i> 09.85.40.72.28</p>
                                    <button class="btn btn-primary" onclick="window.open('https://tally.so/r/wvBMdQ', '_blank')">Prendre RDV</button>
                                </div>
                            </div>
                            <div class="card-image">
                                <img src="${item.URL_Image_Centre || 'https://example.com/default-logo.png'}" alt="Logo Centre">
                            </div>
                        `;
                        resultsContainer.appendChild(userDiv);
                    });
                } else {
                    resultsContainer.innerHTML = '<p>Aucun centre trouvé pour cette recherche.</p>';
                }
            })
            .catch(error => {
                console.error("Error:", error);
                document.getElementById('results').innerHTML = '<p>Aucun centre dans cette zone.</p>';
            });
    }
    </script>
</head>
<body>
    <section>
        <h1>Rechercher un Centre Auditif</h1>
        <form id="searchForm" class="search-form">
            <input type="text" id="searchInput" placeholder="Entrez le département, la ville ou le code postal" class="input-field" autocomplete="on"/>
        </form>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="people-nearby" id="results"></div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
