<div class="columns is-multiline">
	<div class="column is-12">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog3.jpg" alt="" class="w-100 rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mb-4"><a href="blog-single1.html">OuieQare, votre allié pour le choix de vos appareils auditifs</a></h3>

				<!-- <div class="blog-item-meta mb-3">
					<span class="text-muted is-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black is-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> -->


				<p class="mb-5">Depuis de nombreuses années, OuieQare assiste les Français dans la sélection de leurs aides auditives. </p>

				<a href="blog-single1.html" class="btn btn-small btn-main ">Lire Plus</a>
			</div>
		</div>
	</div>

	<div class="column is-12">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog2.jpg" alt="" class="w-70 rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mb-4"><a href="blog-single2.html">Des tarifs compétitifs sur les appareils auditifs 🚀 </a></h3>

				<!-- <div class="blog-item-meta mb-3">
					<span class="text-muted is-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black is-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> -->


				<p class="mb-5">Les prix des appareils auditifs dépendent des besoins individuels et des modèles choisis. </p>

				<a href="blog-single2.html" class="btn btn-small btn-main ">Lire Plus</a>
			</div>
		</div>
	</div>

	<div class="column is-12">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blogzero.png" alt="" class="w-100 rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mb-4"><a href="blog-single3.html">Des prothèses auditives modernes à zéro coût pour vous 🤩 </a>
				</h3>

				<!-- <div class="blog-item-meta mb-3">
					<span class="text-muted is-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black is-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> -->


				<p class="mb-5">Depuis janvier 2021, il est possible que vos appareils auditifs invisibles soient entièrement couverts par l'assurance maladie et votre mutuelle.!</p>

				<a href="blog-single3.html" class="btn btn-small btn-main ">Lire Plus</a>
			</div>
		</div>
	</div>

	<div class="column is-12">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog30.png" alt="" class="w-100 rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mb-4"><a href="blog-single4.html">30 jours d'essai gratuit et sans engagement 🦻</a></h3>

				<!-- <div class="blog-item-meta mb-3">
					<span class="text-muted is-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black is-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> -->


				<p class="mb-5">Chez OuieQare, nous estimons essentiel de tester vos appareils auditifs dans votre quotidien pour confirmer qu'ils satisfont pleinement vos exigences.</p>

				<a href="blog-single4.html" class="btn btn-small btn-main ">Lire Plus</a>
			</div>
		</div>
	</div>

	<!-- <div class="column is-12">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-5.jpg" alt="" class="w-100 rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mb-4"><a href="blog-single.html">The Right Thinking Biggest Job Picking The </a></h3>

				<div class="blog-item-meta mb-3">
					<span class="text-muted is-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black is-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div>


				<p class="mb-5">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium
					pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main ">Learn More</a>
			</div>
		</div>
	</div> -->
</div>