<section class="section cta">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-5-widescreen is-7-desktop">
				<div class="cta-content bg-white rounded">
					<h3 class="mb-5">Rencontrez un expert en audition en quelques minutes<span class="text-color-primary"> </span> </h3>
					<p class="mb-30">Prenez un rendez-vous rapide dans un centre auditif proche de chez vous et profitez d'un test auditif et d'un appareillage sans frais.</p>
					
					<a href="https://tally.so/r/npLNoq" class="btn btn-main" style="font-size: 14px; padding: 8px 16px;">Effectuez votre bilan auditif gratuit <i class="fa fa-angle-right ml-2"></i></a>

				</div>
			</div>
		</div>
	</div>
</section>