<section class="section ">
	<div class="container">
		<div class="columns is-desktop is-justify-content-center">
			<div class="column is-10-desktop">
				<div class="heading has-text-centered">
					<h2>Devenez partenaire et rejoignez <span class="text-color">notre réseau national</span> pour aider encore plus de personnes à accéder à des solutions auditives de qualité.</h2>
				</div>
			</div>
		</div>
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-4-widescreen is-4-desktop is-6-tablet">
				<div class="counter-item counter--style has-text-centered mb-5 mb-lg-0">
					<i class="ti-thumb-up"></i>
					<h2 class="mb-0 mt-3">+<span class="counter-stat font-weight-bold">250</span> </h2>
					<p>Centres Partenaires</p>
				</div>
			</div>
			<div class="column is-4-widescreen is-4-desktop is-6-tablet">
				<div class="counter-item counter--style has-text-centered mb-5 mb-lg-0">
					<i class="ti-face-smile"></i>
					<h2 class="mb-0 mt-3">+<span class="counter-stat font-weight-bold">4500 </span> </h2>
					<p>Appareillages</p>
				</div>
			</div>
			<div class="column is-4-widescreen is-4-desktop is-6-tablet">
				<div class="counter-item counter--style has-text-centered">
					<i class="ti-cup"></i>
					<h2 class="mb-0 mt-3">+<span class="counter-stat font-weight-bold">6000</span></h2>
					<p>personnes conseillées et aidées</p>
				</div>
			</div>
		</div>
	</div>
</section>