<div class="columns is-multiline">
	<div class="column is-12 mb-6">
		<div class="single-blog-item">

			<div class="blog-item-content mt-4">
				<h2 class="mt-3 mb-3 text-md">MENTIONS LEGALES</h2>

				

				<p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l'Utilisateur", du site Ouieqare/OZENQARE LTD, ci-après le "Site", les présentes mentions légales.</p>

				<p>La connexion et la navigation sur le Site par l'Utilisateur implique l'acceptation intégrale et sans réserve des présentes mentions légales.</p>
				
				<p>Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p>
				
				<p>ARTICLE 1 - L'ÉDITEUR</p>
				
				<p>L'édition du Site est assurée par Société OZENQARE LTD.</p>
				
				<p>ARTICLE 2 - L'HÉBERGEUR</p>
				
				<p>L'hébergeur du Site est la société Sqarespqce A product of Google Ltd, dont le siège social est situé au Etats-unis.</p>
				
				<p>ARTICLE 3 - ACCÈS AU SITE</p>
				
				<p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d'une nécessité de maintenance.</p>
				
				<p>En cas de modification, interruption ou suspension du Site, l'Éditeur ne saurait être tenu responsable.</p>
				
				<p>ARTICLE 4 - COLLECTE DES DONNÉES</p>
				
				<p>Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. </p>
				
				<p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit par mail à l'adresse email contact@Ouieqare.com</p>
				
				<p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l'Éditeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
				
				<p>Pour plus d'informations, se reporter aux CGU du site Ouieqare/OZENQARE LTD accessible à la rubrique "CGU".</p>
				
				<p>Pour plus d'informations en matière de protection des données à caractère personnel , se reporter à la Charte en matière de protection des données à caractère personnel du site Ouieqare/OZENQARE LTD accessible à la rubrique "Données personnelles"</p>
				
				<p>ARTICLE 5 - AVERTISSEMENT</p>
				
				<p>Les informations contenues sur le Site ont un caractère indicatif et non contractuel. Nous nous efforçons d'assurer l'exactitude et la mise à jour des informations qui y sont diffusées, sans pouvoir cependant en garantir l'exhaustivité ou l'absence de modification par un tiers (intrusion, virus).</p>
				
				<p>En outre, nous déclinons toute responsabilité en cas d'erreur, d'inexactitude ou d'omission dans ces informations.</p>
				
				<p>Le Site applique un strict respect des données collectées sur son site. Pour en savoir plus, veuillez lire la politique de confidentialité.</p>
				
				<p>ARTICLE 6 – RESPONSABILITE</p>
				
				<p>Le Site propose une aide à la recherche de centres d'audioprothèse. Tous les centres que nous proposons sont réglementés. Le Site n'est pas responsable des résultats de l'appareillage auditif.</p>
				
				<p>ARTICLE 7 – DROIT DE REPRODUCTION</p>
				
				<p>Les droits de reproduction des données du Site sont exclusivement destinés à l'usage privé des utilisateurs du réseau Internet et le droit de représentation aux seules fins de consultation personnelle et privée.</p>
				
				<p>Toute autre utilisation est strictement interdite et susceptible de poursuites, conformément aux dispositions du Code de la Propriété Intellectuelle français, aux règlements nationaux et conventions internationales en vigueur.</p>
					





			</div>
		</div>
	</div>
</div>