<!-- navigation -->
<div id="navbar" class="navigation py-4 home-nav" style="border-bottom: 1px solid black;">
	<div class="container">
		<nav class="navbar">
			<div class="navbar-brand">
				<a class="navbar-item" href="index.html">
					<img src="images/logo.png" alt="logo">
				</a>
				<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</button>
			</div>

			<div class="navbar-menu" id="navigation">
				<ul class="navbar-start ml-auto">
					<li class="navbar-item">
						<a class="navbar-link" href="index.html">Accueil</a>
					</li>
					
					<li class="navbar-item">
						<a class="navbar-link" href="blog-sidebar.html">Aides & conseils</a>
					</li>
					
					<li class="navbar-item">
					   <a class="navbar-link" href="annuaire.html">Annuaire Centres</a>
				   </li>
					

					<li class="navbar-item">
					   <a class="navbar-link" href="service.html">FAQ</a>
				   </li>

				   <li class="navbar-item">
					   <a class="navbar-link" href="about.html">Partenaire</a>
				   </li>
				</ul>
				<ul class="navbar-end ml-0">
					<li class="navbar-item">
					   <a href="tel:0189471705" target="_blank" class="btn btn-main">
						   <i class="fa fa-phone" aria-hidden="true"></i> 01.89.47.17.05 </a>
						 
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
