<div class="columns is-multiline">
	<div class="column is-12 mb-6">
		<div class="single-blog-item">

			<div class="blog-item-content mt-4">
				<h2 class="mt-3 mb-3 text-md">Politique de confidentialité</h2>

				

					<p>Cette politique de confidentialité ("Politique de Confidentialité") décrit la collecte et le traitement des données personnelles lors de l'utilisation des sites internet d'Ouieqare/OZENQARE LTD (les "Sites"). Elle explique les types de données personnelles collectées lors de votre utilisation de nos Sites, ainsi que la manière dont vos données personnelles sont utilisées, partagées et protégées. Elle vous informe également de vos choix concernant vos données personnelles et vous fournit nos coordonnées pour nous contacter.</p>
					
					<p>Responsable du traitement des données personnelles</p>
					
					<p>La société Ouieqare/OZENQARE LTD est responsable du traitement de vos données personnelles. La personne en charge du traitement de vos données personnelles est Monsieur/Madame </p>
					
					<p>,dont les coordonnées sont les suivantes :</p>
					
					<p>contact@Ouieqare.com</p>
					
					<h3>Collecte des données personnelles</h3>
					
					<p>Nous collectons certaines données personnelles afin de vous fournir les informations que vous demandez, telles que lorsque vous souhaitez recevoir des communications, créer un compte, participer à nos événements ou interagir sur nos Sites ou Applications. Les données personnelles que nous collectons comprennent :</p>
					
					<p>Vos coordonnées, telles que votre nom, votre adresse e-mail et votre numéro de téléphone.</p>
					
					<p>Vos informations d'utilisateur et de compte, comprenant un pseudonyme, un mot de passe et un identifiant unique d'utilisateur.</p>
					
					<p>Vos informations personnelles, telles que votre sexe, votre ville et votre date de naissance.</p>
					
					<p>Vos préférences personnelles, comprenant votre liste de souhaits et vos préférences en matière de marketing et de cookies.</p>
					
					<p>Nous utilisons également des données personnelles supplémentaires pour activer certaines fonctionnalités spécifiques sur nos Sites, Applications ou services. Par exemple, nous pouvons demander l'accès aux données de géolocalisation de votre téléphone pour vous fournir les informations les plus pertinentes, accéder à vos contacts pour faciliter les interactions, accéder à votre calendrier pour organiser des rendez-vous, ou utiliser vos identifiants de réseau social pour publier du contenu depuis une Application sur un réseau social. Ces données personnelles supplémentaires peuvent inclure :</p>
					
					<p>Les données de géolocalisation (GPS).</p>
					
					<p>Les photos, les contacts et le calendrier.</p>
					
					<p>Les informations relatives aux réseaux sociaux, y compris les identifiants et les informations provenant de vos publications publiques concernant nos Sites ou vos communications avec nous.</p>
					
					<p>Lorsque vous interagissez avec nos Sites, certaines données sont automatiquement collectées. Par exemple, votre navigateur Internet ou votre téléphone mobile peuvent partager certaines données avec nos Sites lors de leur utilisation. Pour plus d'informations sur ces pratiques, veuillez consulter la section "Cookies et Balises" ci-dessous. Ces données peuvent inclure : l'identifiant de l'appareil, l'état des appels, l'accès au réseau, les informations de stockage et de batterie, les cookies, les adresses IP, les en-têtes de références, les informations identifiant votre navigateur Internet et sa version, ainsi que les pixels espions et les balises web.</p>
					
					<p>Les finalités de la collecte de vos données personnelles</p>
					
					<p>Nous utilisons les données personnelles que nous collectons auprès de vous aux fins suivantes :</p>
					
					<p>Pour fournir les fonctionnalités des Sites et Services que vous sollicitez lorsque vous utilisez nos Sites, nous utilisons vos données pour vous fournir les produits ou services que vous avez sélectionnés. Par exemple, si vous demandez à être mis en relation avec l'un de nos partenaires, nous utiliserons les coordonnées que vous nous avez fournies pour faciliter cette mise en relation ou pour assurer le bon fonctionnement, l'amélioration et la maintenance de nos activités. </p>
					
					<h3>Produits et services : </h3>
					
					<p>Nous pouvons utiliser les données que vous nous communiquez pour faire fonctionner nos activités. Par exemple, lorsque vous demandez une mise en relation avec un partenaire ou que vous souhaitez recevoir des communications, nous pouvons utiliser ces informations à des fins comptables, d'audit et autres fins internes.</p>
					
					<p>Pour protéger nos droits, notre propriété et notre sécurité, ainsi que ceux des autres. Nous pouvons également utiliser les données relatives à votre utilisation de nos Sites pour prévenir ou détecter les fraudes, les abus, les utilisations illicites et les violations de nos Conditions d'Utilisation, ainsi que pour nous conformer à des décisions judiciaires, à des demandes gouvernementales ou à la loi.</p>
					
					<p>À des fins de recherche générale et d'analyse : Nous utilisons les données relatives à l'utilisation de nos Sites par nos visiteurs pour comprendre les comportements et les préférences des consommateurs.</p>
					
					<h3>Autres finalités : </h3>
					
					<p>Nous pouvons également utiliser vos données personnelles à d'autres fins spécifiques, et nous vous fournirons des informations détaillées lors de la collecte de ces données, et nous solliciterons votre consentement si nécessaire.</p>
					
					<p>Nous accordons une grande importance à la protection de vos données personnelles et nous mettons en place des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé, toute divulgation, toute utilisation abusive ou toute altération.</p>
					
					<p>Si vous avez des questions concernant notre politique de confidentialité ou si vous souhaitez exercer vos droits en matière de données personnelles, veuillez nous contacter aux coordonnées fournies ci-dessus.</p>
					
					<p>Veuillez noter que cette politique de confidentialité peut être mise à jour périodiquement pour refléter les évolutions de nos pratiques en matière de protection des données. Nous vous encourageons à consulter régulièrement cette page pour vous tenir informé des mises à jour éventuelles.</p>
					
					<h3>Partage de vos données personnelles</h3>
					
					<p>Ouieqare/OZENQARE LTD partage vos données personnelles avec :</p>
					
					<p>Les filiales de Goshen consulting pour les finalités et dans les conditions précisées ci-dessus.</p>
					
					<p>Des prestataires de services tiers qui traitent les données personnelles pour le compte de Dreamteam, tels que l'administration et la gestion de vos données, la distribution d'e-mails, les recherches et analyses, ainsi que l'administration de certains services et fonctionnalités.</p>
					
					<p>D'autres tiers lorsque cela est nécessaire pour se conformer à une requête gouvernementale, une décision de justice ou à la loi applicable, prévenir les utilisations illicites de nos Sites ou les violations de nos Conditions d'Utilisation, nous défendre contre des réclamations de tiers, ou fournir une assistance dans la prévention des fraudes ou des investigations (par exemple, la contrefaçon).</p>
					
					<p>Dans le cas où nous cédons ou transférons tout ou partie de nos activités ou actifs, y compris dans le cadre d'une réorganisation, d'une cession, d'une dissolution ou d'une liquidation.</p>
					
					<h3>Protection et gestion de vos données personnelles</h3>
					
					<p>Cryptage et sécurité : Nous utilisons des mesures de sécurité techniques et organisationnelles, telles que le cryptage et les outils d'authentification, pour assurer la sécurité de vos données personnelles. Vos données sont stockées sur des réseaux sécurisés et accessibles uniquement à un nombre limité de personnes disposant d'autorisations spéciales.</p>
					
					<p>Transferts internationaux de données : Vos données personnelles sont stockées en France. Cependant, certaines des parties avec lesquelles Ouieqare/OZENQARE LTD partage vos données peuvent être situées dans des pays en dehors de la France. Dans de tels cas, nous nous assurons que vos données sont protégées conformément à la législation applicable et que des mesures appropriées sont mises en place pour garantir un niveau adéquat de protection des données.</p>
					
					<h3>Conservation des données : </h3>
					
					<p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour les finalités pour lesquelles elles ont été collectées, sauf si la loi impose une durée de conservation plus longue. Nous détruisons vos données personnelles de manière sécurisée lorsque nous n'avons plus besoin de les conserver.</p>
					
					<p>Vos droits concernant vos données personnelles : Vous avez le droit de demander l'accès, la rectification, ou la suppression de vos données personnelles à tout moment.                Vous avez également le droit de demander la suspension du traitement de vos données personnelles, de retirer votre consentement au traitement de vos données, ou de vous opposer au traitement de vos données à des fins de marketing direct.</p>
					
					<h3>Cookies et balises : </h3>
					
					<p>Ouieqare/OZENQARE LTD utilise des cookies et des balises pour collecter des informations, y compris des données personnelles, lorsque vous utilisez nos Sites. Nous utilisons ces technologies pour améliorer nos services, analyser les tendances, personnaliser votre expérience et fournir des publicités ciblées. Vous pouvez gérer vos préférences en matière de cookies en modifiant les paramètres de votre navigateur.</p>
					
					<p>Modifications de notre politique de confidentialité : Si nous apportons des modifications importantes à notre politique de confidentialité, nous vous informerons de ces modifications et obtiendrons votre consentement si nécessaire. Nous vous encourageons à consulter régulièrement notre politique</p>
					
					





			</div>
		</div>
	</div>
</div>