<section class="section service-2">
	<div class="container">
		<div class="columns is-align-items-center">
			<div class="column is-6-desktop">
				<div class="service-img">
					<img src="images/service/appareils1.jpg" alt="" class="w-100">
				</div>
			</div>
			<div class="column is-6-desktop">
				<div class="service-info ">
					<span class="text-color has-text-weight-bold">01</span>
					<h3 class="text-md mb-5 mt-3">
						Combien coûte un appareil auditif ?
					</h3>
					<p>Le prix des aides auditives peut varier selon vos besoins spécifiques et le type d'appareil choisi. En moyenne, en France, un appareil auditif coûte environ 1500€ avant les remboursements de la Sécurité Sociale et des mutuelles. Le coût est influencé par plusieurs facteurs, notamment la technologie employée, le type de batterie, les options de connectivité et les fonctionnalités de réduction du bruit.

						Le montant à payer dépendra de votre couverture santé et de votre contrat de mutuelle. Depuis janvier 2021, dans le cadre de l'offre 100% santé (pour les appareils de classe 1), les audioprothésistes doivent proposer cette option et fournir un devis détaillé obligatoire.</p>
				</div>
			</div>
		</div>

		<div class="content-padding is-relative">
			<div class="columns is-align-items-center">
				<div class="column is-6-desktop">
					<div class="service-info">
						<span class="text-color has-text-weight-bold">02</span>
						<h3 class="text-md mb-5 mt-3">
							Comment se fait le remboursement de mes aides auditives ?
						</h3>
						<p>Selon le type d'appareil que vous sélectionnez, vous pouvez bénéficier d'un Reste à Charge de 0€ grâce à la réforme du 100% santé. Cette option concerne les équipements entièrement couverts à la fois par l'Assurance Maladie et par votre mutuelle, à condition que celle-ci soit qualifiée de "responsable". Vous avez néanmoins la liberté de choisir un équipement qui ne fait pas partie de cette sélection.</p>

					</div>
				</div>
				<div class="column is-6-desktop">
					<div class="service-img">
						<img src="images/service/gratuit.jpg" alt="" class="w-90">
					</div>
				</div>
			</div>
		</div>

		<div class="columns is-align-items-center">
			<div class="column is-6-desktop">
				<div class="service-img">
					<img src="images/service/auditif.jpg" alt="" class="w-90">
				</div>
			</div>
			<div class="column is-6-desktop">
				<div class="service-info">
					<span class="text-color has-text-weight-bold">03</span>
					<h3 class="text-md mb-5 mt-3">
						Puis-je essayer mes appareils auditifs avant de les acheter ?
					</h3>
					<p>Absolument ! Vous pouvez profiter d'un essai gratuit et sans engagement de 30 jours.

						Testez vos appareils auditifs sans frais en cliquant ici.</p>
				</div>
			</div>
		</div>

		<div class="content-padding is-relative">
			<div class="columns is-align-items-center">
				<div class="column is-6-desktop">
					<div class="service-info">
						<span class="text-color has-text-weight-bold">04</span>
						<h3 class="text-md mb-5 mt-3">
							Comment fonctionne le bilan auditif gratuit ?
						</h3>
						<p>Le bilan auditif gratuit est une procédure simple et indolore qui comprend trois étapes principales durant une séance d'environ une heure avec un audioprothésiste.

							La prise de contact
							La réalisation de l'audiogramme
							Les conseils dispensés par l'audioprothésiste
							Profitez dès maintenant de votre bilan auditif gratuit.</p>

					</div>
				</div>
				<div class="column is-6-desktop">
					<div class="service-img">
						<img src="images/service/pro.jpg" alt="" class="w-100">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>