<div class="columns is-multiline">
	<div class="column is-12 mb-6">
		<div class="single-blog-item">
			<img src="images/blog/blog1.jpg" alt="" class="w-100 rounded">

			<div class="blog-item-content mt-4">
				<h2 class="mt-3 mb-3 text-md"><a href="OuieQare-votre-allié.html">OuieQare, votre allié pour le choix de vos appareils auditifs</a></h2>

				<p class="lead mb-4">Depuis de nombreuses années, OuieQare assiste les Français dans la sélection de leurs aides auditives. </p>

				<p>Qu'il s'agisse de renseignements sur les prix, les modèles ou les fonctionnalités, il peut être complexe de naviguer parmi tous ces détails lors de la recherche de prothèses auditives.</p>


				<p class="lead mb-4 font-weight-normal text-black">Heureusement, nous avons analysé pour vous les meilleurs audioprothésistes à travers la France pour faciliter vos prises de rendez-vous dans les centres auditifs de qualité et vous aider à faire le choix optimal !</p>

				<p>Notre équipe d'experts en audition a pour mission principale de vous aider à acquérir les meilleurs appareils auditifs auprès des audioprothésistes les plus compétents de votre région, tout en bénéficiant d'un reste à charge de 0€.</p>

				<div class="tag-option mt-6 is-flex is-justify-content-space-between is-align-items-center">


					<ul class="list-inline">
						<li class="list-inline-item mr-4">Partager:</li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="column is-12 mb-6">
		<div class="posts-nav bg-gray p-6 is-flex is-justify-content-space-between is-align-items-center">
			<div class="posts-prev-item">
				<span class="nav-posts-desc">- Post Précédent</span>
				<h6 class="nav-posts-title mt-1">
					<a href="30-jours-d'essai-gratuit.html">30 jours d'essai gratuit et sans engagement.</a>
				</h6>
			</div>
			<div class="border"></div>

			<div class="posts-next-item">
				<span class="nav-posts-desc text-lg-right text-md-right d-block">- Post Suivant</span>
				<h6 class="nav-posts-title mt-1">
					<a href="Des-tarifs-compétitifs.html">Des tarifs compétitifs sur les appareils auditifs.</a>
				</h6>
			</div>
		</div>
	</div>


	<div class="column is-12">
		<form class="comment-form mt-5" id="comment-form">
			<h4 class="mb-5">Ajouter un commentaire</h4>
			<div class="columns is-multiline">
				<div class="column is-6-tablet">
					<input class="input" type="text" name="name" id="name" placeholder="Nom:">
				</div>
				<div class="column is-6-tablet">
					<input class="input" type="text" name="mail" id="mail" placeholder="Email:">
				</div>
				<div class="column is-12-tablet">
					<textarea class="input mb-4" name="comment" id="comment" placeholder="Commentaire"></textarea>
				</div>
				<div class="column is-12-tablet">
					<input class="btn btn-main" type="submit" name="submit-contact" id="submit_contact" value="Envoyer">
				</div>
			</div>
		</form>
	</div>
</div>