<!-- Slider Start -->
<section class="banner is-flex is-align-items-center">
    <div class="banner-img-part"></div>
    <div class="container">
        <div class="columns">
            <!-- Colonne pour le texte et le bouton -->
            <div class="column is-8-widescreen is-10-desktop">
                <div class="block">
                    <span class="is-uppercase text-sm letter-spacing">EN PARTENARIAT AVEC TOUTES LES MUTUELLES FRANÇAISES</span>
                    <h1 class="my-6">Recevez vos appareils auditifs personnalisés sans frais !</h1>
                    <p class="mb-6">Nous vous assistons dans la sélection de la solution auditive qui convient le mieux à vos exigences afin d'optimiser votre qualité de vie.</p>
                    <a href="https://tally.so/r/npLNoq" target="_blank" class="btn btn-main">Vérifier Mon Éligibilité <i class="fa fa-angle-right ml-2"></i></a>
                </div>
            </div>
            <!-- Nouvelle colonne pour l'image -->
            <div class="column is-4-widescreen is-2-desktop">
                <img src="images/bg/sanstitre3.png" alt="Description de l'image"  height: auto;" class="img-lowered">
            </div>
        </div>
    </div>
</section>
