<section class="section image-text-top">
 
        <div class="columns is-desktop">
            <div class="column is-12">
                <img src="images/avis.jpg" alt="Description de l'image" style="width: 100%; height: auto;">
                <p style="text-align: center; margin-top: 10px;">
					Nos clients en parlent mieux que nous: découvrez leurs avis et notre note sur 
					<a href="https://www.trustpilot.com" target="_blank" rel="noopener noreferrer">Trustpilot</a> 
					et 
					<a href="https://www.google.com/ouieqare.com" target="_blank" rel="noopener noreferrer">Google</a> !
				  </p>
				  
            </div>
        </div>

</section>
<section class="section testimonial">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-8-desktop">
				<div class="heading" style="padding-top: 20px;">
					<h2 class="mb-5">Ils parlent de nous</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="columns is-multiline">
			<div class="column is-12 testimonial-wrap">
				<div class="testimonial-block">
					<p>
						Ma rencontre avec Ouieqare a été très satisfaisante. L'audioprothésiste a été extrêmement professionnel et l'accompagnement tout au long du processus a été impeccable. Je recommande vivement leurs services.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" style="width: 50px; height: auto;">
						</div>
						<div class="info">
							<h6>Léon M.</h6>
							<span>Paris 15</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						Très content des services de Ouieqare ! L'écoute et les conseils de l'audioprothésiste m'ont permis de trouver la solution parfaite pour mes problèmes d'audition. Un grand merci à toute l'équipe pour leur gentillesse.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial8.jpg" alt="" style="width: 50px; height: auto;">
						</div>
						<div class="info">
							<h6>Sarah H.</h6>
							<span>Marseille</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Exceptionnel ! De la prise de contact à la mise en place de mes appareils auditifs, tout a été géré avec professionnalisme et soin par Ouieqare. Je me sens vraiment pris en charge et satisfait du résultat.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial4.jpg" alt="" style="width: 50px; height: 60px;">
						</div>
						<div class="info">
							<h6>Charles M.</h6>
							<span>Villeurbanne</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						L'équipe de Ouieqare m'a offert un service hors pair. Les conseils étaient clairs et personnalisés, et les suivis après l'installation de mes aides auditives ont été très utiles. Je suis ravie de leur approche.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial7.jpg" alt="" style="width: 50px; height: auto;">
						</div>
						<div class="info">
							<h6>Denise L.</h6>
							<span>Créteil</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Merci à Ouieqare pour leur efficacité et leur professionnalisme. Le diagnostic était précis et les solutions proposées ont grandement amélioré ma qualité de vie. Je recommande sans hésiter.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial6.jpg" alt="" style="width: 50px; height: auto;">
						</div>
						<div class="info">
							<h6>Christianne B.</h6>
							<span>Aix-les-Bains</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</section>

